doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Learning Manajement System
        -
            let tmpstmp = new Date().getMinutes()
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel="stylesheet", href="/stylesheets/reset.css")
        link(rel="stylesheet", href="/stylesheets/css/bootstrap.min.css")
        link(rel="stylesheet", href="/semantic-ui/semantic.min.css")
        link(rel='stylesheet', href='/stylesheets/style.css?tmp='+tmpstmp)
        link(rel='stylesheet', href='/stylesheets/iziToast.min.css')
        link(rel='stylesheet', href='/stylesheets/tagsinput.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap.bundle.css')
        link(rel='stylesheet', href='/stylesheets/fontawesome.css')
        link(rel='stylesheet', href='/stylesheets/lioshi.min.css')
        link(rel='stylesheet', href='/stylesheets/app.style.css?tmp='+tmpstmp)
        link(rel='stylesheet', href='/plugins/datatables/css/datatables.bundle.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-editable.css')
        link(rel='stylesheet', media='screen, print' href='/stylesheets/sweetalert2.bundle.css')
        link(rel='stylesheet', href='/plugins/select2/css/select2.css')
        link(rel='stylesheet', href='/plugins/select2/css/select2-bootstrap4.min.css')
        link(rel="stylesheet" href="/jsoneditor.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.css")
        link(rel="stylesheet", href="https://cdn.datatables.net/1.11.4/css/dataTables.semanticui.min.css")
        
        script(src="/javascripts/jquery-3.6.0.min.js")
        script(src="/semantic-ui/semantic.min.js")
        script(src="/javascripts/bootstrap.min.js") 
        script(src='/javascripts/popper.min.js')
        script(src="/javascripts/bootstrap.bundle.js")
        script(src="/javascripts/bootstrap.min.js")
        script(src="/javascripts/custom.js?tmp="+tmpstmp)
        script(src="/javascripts/script.js?tmp="+tmpstmp)
        script(src="/javascripts/iziToast.min.js")
        script(src="/javascripts/moment.min.js")
        script(src="/javascripts/jszip.min.js")
        script(src="/javascripts/jquery.js")
        script(src="/javascripts/tagsinput.js")
        script(src="/plugins/datatables/js/datatables.bundle.js")
        script(src="/plugins/datatables/js/dataTables.rowReorder.min.js")
        script(src="/javascripts/pdfmake.min.js")
        script(src="/javascripts/vfs_fonts.js")
        script(src="/javascripts/buttons.html5.min.js")
        script(src='/plugins/select2/js/select2.js')
        script(src="/javascripts/sweetalert2.bundle.js")
        script(src='/javascripts/bootstrap-editable.min.js')
        script(src='/plugins/select2/js/select2.full.min.js')
        script(src="/javascripts/axios.min.js")
        script(src="/javascripts/highlight.min.js")
        script(src="/javascripts/jsoneditor.min.js")
        script(src="/javascripts/function-libraries.js")
        script(src="https://code.jquery.com/jquery-3.5.1.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js")
        script(src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js")
        script(src="https://cdn.datatables.net/1.11.4/js/dataTables.semanticui.min.js")
    body 

